h1,
p {
  font-family: Lato;
}
th {
  background-color: white;
  border-color: black;
  border: 2px;
  border-style: solid;
}
hr {
  color: blue;
  height: 5px;
  background-color: blue;
}
.dataHasChanged {
  background-color: lightgreen;
}
.none {
  color: black;
}
.hidden {
  display: none;
  visibility: hidden;
  z-index: 100;
  border: solid;
  border-width: 3px;
}
.floatDoc {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 75%;
  padding: 10px;
  border: solid;
  border-width: 2px;
  background-color: white;
  z-index: 50000;
  overflow: scroll;
}
#dataLoader {
  border-style: solid;
  border-width: 3px;
  padding: 4px;
  border-color: blue;
}
#mainGrid {
  border-style: solid;
  border-width: 3px;
  padding: 4px;
  border-color: green;
}

.dataSource {
  border-style: solid;
  border-width: 3px;
  padding: 4px;
  border-color: red;
}

.extraData {
  border-style: solid;
  border-width: 3px;
  padding: 4px;
  border-color: orange;
}

.green{color:green;}